
<mat-toolbar class="mat-elevation-z20" color="accent">
  <h1>LISSAJOUS CURVE GENERATOR</h1>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav opened mode="side">
    <p>Inputs</p>
    <mat-divider></mat-divider>
    <br>
    <span>A = </span>
    <mat-form-field>
      <input class="right" [(ngModel)]="A" #Ai="ngModel" matInput (change)="draw()">
    </mat-form-field>
    <button 
      class="controls" 
      mat-mini-fab 
      color="accent"
      (click)="decreaseA()">
      <mat-icon>remove</mat-icon>
    </button>
    <button 
      class="controls" 
      mat-mini-fab 
      color="accent"
      (click)="increaseA()">
      <mat-icon>add</mat-icon>
    </button>
    <br>
    <mat-slider
      [min]="1"
      [max]="20" 
      [step]="1" 
      [(ngModel)]="A" 
      #Ai="ngModel" 
      (change)="draw()">
    </mat-slider>
    <mat-divider></mat-divider>
    <br>
    <span>B = </span>
    <mat-form-field>
      <input class="right" [(ngModel)]="B" #Bi="ngModel" matInput (change)="draw()">
    </mat-form-field>
    <button 
      class="controls" 
      mat-mini-fab 
      color="accent"
      (click)="decreaseB()">
      <mat-icon>remove</mat-icon>
    </button>
    <button 
      class="controls" 
      mat-mini-fab 
      color="accent"
      (click)="increaseB()">
      <mat-icon>add</mat-icon>
    </button>
    <br>
    <mat-slider
      [min]="1"
      [max]="20" 
      [step]="1" 
      [(ngModel)]="B" 
      #Bi="ngModel" 
      (change)="draw()">
    </mat-slider>
    <mat-divider></mat-divider>
    <br>
    <span class="angle-input">δ = </span>
    <mat-form-field class="angle-field">
      <input class="right" [(ngModel)]="angle" #anglei="ngModel" matInput (change)="draw()">
    </mat-form-field>
    <button 
      class="controls" 
      mat-mini-fab 
      color="accent"
      (click)="decreaseAngle()">
      <mat-icon>remove</mat-icon>
    </button>
    <button 
      class="controls" 
      mat-mini-fab 
      color="accent"
      (click)="increaseAngle()">
      <mat-icon>add</mat-icon>
    </button>
    <br>
    <mat-slider
      [min]="0"
      [max]="90" 
      [step]="0.125" 
      [(ngModel)]="angle" 
      #Ai="ngModel" 
      (change)="draw()">
    </mat-slider>
    <br>
    <mat-divider clas="angle-divider"></mat-divider>
    <br>
    <span>a = </span>
    <mat-form-field>
      <input class="right" [(ngModel)]="a" #ai="ngModel" matInput (change)="draw()">
    </mat-form-field>
    <button 
      class="controls" 
      mat-mini-fab 
      color="accent"
      (click)="decreasea()">
      <mat-icon>remove</mat-icon>
    </button>
    <button 
      class="controls" 
      mat-mini-fab 
      color="accent"
      (click)="increasea()">
      <mat-icon>add</mat-icon>
    </button>
    <br>
    <mat-slider
      [min]="1"
      [max]="20" 
      [step]="1" 
      [(ngModel)]="a" 
      #ai="ngModel" 
      (change)="draw()">
    </mat-slider>
    <br>
    <mat-divider></mat-divider>
    <span>b = </span>
    <mat-form-field>
      <input class="right" [(ngModel)]="b" #bi="ngModel" matInput (change)="draw()">
    </mat-form-field>
    <button 
      class="controls" 
      mat-mini-fab 
      color="accent"
      (click)="decreaseb()">
      <mat-icon>remove</mat-icon>
    </button>
    <button 
      class="controls" 
      mat-mini-fab 
      color="accent"
      (click)="increaseb()">
      <mat-icon>add</mat-icon>
    </button>
    <br>
    <mat-slider
      [min]="1"
      [max]="20" 
      [step]="1" 
      [(ngModel)]="b" 
      #bi="ngModel" 
      (change)="draw()">
    </mat-slider>
  </mat-sidenav>
  <mat-sidenav-content>
    <div id="chartContainer"
      style="height: 700px; 
            width: 700px;
            margin-left: auto;
            margin-right: auto;">
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>



