.toolbar-spacer {
    flex: 1 1 auto;
}

mat-sidenav-container {
  /*height: 783PX;  XDDD */
  height:100%;
  width: 100%;
}

mat-sidenav, mat-sidenav-content {
  padding: 10px;
}

mat-sidenav {
  width: 20%;
}

mat-form-field {
  width: 20%;
}

mat-slider {
  margin-left: 5px;
  width: 95%;
}

mat-checkbox {
  margin-left: 35%;
}

.controls {
  margin-left: 5%;
}

.angle-divider {
  margin-top: 50px;
}

.angle-input {
  font-size: 25px;
  margin-left: 10%;
  text-align: right;
}

.angle-field {
  width:25%;
}

.right {
  text-align: right;
  font-size: 25px;
}

span {
  font-size: 25px;
  margin-left: 15%;
}

p {
  font-size: 30px;
  margin-top: 0px;
  margin-left: 35%;
  margin-bottom: 5px;
}
  