@import '@angular/material/prebuilt-themes/purple-green.css';
@import url('https://fonts.googleapis.com/css?family=Ubuntu');


/*
@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'Raleway'
);
@include mat-core($custom-typography);
*/



html, body { height: 100%; }
body { margin: 0; font-family: Ubuntu, sans-serif; }
